In [42]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession
import pyspark.sql.functions as f

spark = SparkSession \
   .builder \
   .appName("Python Spark regression example") \
   .config("spark.some.config.option", "some-value") \
   .getOrCreate()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-1-110e88b7089a>:2

In [43]:
df = spark.read.csv('titanic.csv',header=True, inferSchema = True)

In [44]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [45]:
df.filter(df.Embarked == 'C').show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|    Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|     PC 17599| 71.2833|  C85|       C|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736| 30.0708| null|       C|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|         2649|   7.225| null|       C|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|         2631|   7.225| null|       C|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|     PC 17601| 27.7208| null|       C|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|     PC 17569|146.5208|  B78|       C|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|     PC 17604| 82.1708| null|       C|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|         2677|  7.2292| null|       C|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|         2651| 11.2417| null|       C|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|       349253|  7.8958| null|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123| 41.5792| null|       C|
|         49|       0|     3| Samaan, Mr. Youssef|  male|null|    2|    0|         2662| 21.6792| null|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|     PC 17572| 76.7292|  D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|       113509| 61.9792|  B30|       C|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|         2697|  7.2292| null|       C|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|         2669|  7.2292| null|       C|
|         65|       0|     1|Stewart, Mr. Albe...|  male|null|    0|    0|     PC 17605| 27.7208| null|       C|
|         66|       1|     3|Moubarek, Master....|  male|null|    1|    1|         2661| 15.2458| null|       C|
|         74|       0|     3|Chronopoulos, Mr....|  male|26.0|    1|    0|         2680| 14.4542| null|       C|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|     PC 17754| 34.6542|   A5|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+
only showing top 20 rows

In [55]:
unique = df.where(df.Embarked.isNotNull()).select('Embarked').distinct().rdd.map(lambda r: r.Embarked).collect()

In [61]:
unique

['Q', 'C', 'S']

In [62]:
len(unique)

3

In [68]:
N_df = df.where(df.Name.isNotNull())

In [70]:
names_of_female_survivors_from_port_c = N_df.filter((df.Pclass == 1) & (df.Sex == 'female') & (df.Survived == 1) & (df.Embarked == 'C')).rdd.map(lambda r: r.Name).collect()

In [71]:
for i in names_of_female_survivors_from_port_c:
    print(i)

Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Spencer, Mrs. William Augustus (Marie Eugenie)
Harper, Mrs. Henry Sleeper (Myna Haxtun)
Brown, Mrs. James Joseph (Margaret Tobin)
Lurette, Miss. Elise
Newell, Miss. Madeleine
Bazzani, Miss. Albina
Thorne, Mrs. Gertrude Maybelle
Ward, Miss. Anna
Bishop, Mrs. Dickinson H (Helen Walton)
Baxter, Mrs. James (Helene DeLaudeniere Chaput)
Fleming, Miss. Margaret
Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)
Francatelli, Miss. Laura Mabel
Hays, Miss. Margaret Bechstein
Ryerson, Miss. Emily Borie
Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)
Young, Miss. Marie Grice
Hippach, Miss. Jean Gertrude
Burns, Miss. Elizabeth Margaret
Warren, Mrs. Frank Manley (Anna Sophia Atkinson)
Aubart, Mme. Leontine Pauline
Meyer, Mrs. Edgar Joseph (Leila Saks)
Bidois, Miss. Rosalie
Newell, Miss. Marjorie
Eustis, Miss. Elizabeth Mussey
Rothschild, Mrs. Martin (Elizabeth L. Barrett)
Hippach, Mrs. Louis Albert (Ida Sophia Fischer)
LeRoy, Miss. Bertha
Frolicher, Miss. Hedwig Margaritha
"Duff Gordon, Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")"
Thayer, Mrs. John Borland (Marian Longstreth Morris)
Stephenson, Mrs. Walter Bertram (Martha Eustis)
Sagesser, Mlle. Emma
Astor, Mrs. John Jacob (Madeleine Talmadge Force)
"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")"
Endres, Miss. Caroline Louise
"Ryerson, Miss. Susan Parker ""Suzette"""
Compton, Miss. Sara Rebecca
Serepeca, Miss. Augusta
Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)